@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Raleway:400,900');
@import 'lib/variables';
@import 'lib/placeholders';
@import 'lib/reset';

body{
	overflow: hidden;
	font-size: 20px;
	height: 100vh;
	background: $gray;
	display: flex;
	background-size: cover;
	
}
aside {
	background-size: cover;
	background-position: 70%;
	overflow: hidden;
	padding: $padding 0;
	padding-left: $padding;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.logo {
		overflow: hidden;
		width: 70%;
		position: relative;
		&:hover {
			cursor: pointer;
			h1, svg {
				transform: translateY(0);
			}
			h1 {
				opacity: 1;
			}
			svg {
				opacity: 0;
				transform: translateY(-100%);
			}
		} 
		h1 {
			opacity: 0;
			transform: translateY(100%);
			height: 100%;
			width: 100%;
			background: $amber;
			transition: all 0.5s ease;
			padding:.25em .25em 0;
			line-height: 100%;
			display: flex;
			justify-content: flex-end;
			flex-flow: column;
			@extend %h-one;
			position: absolute;
			bottom: 0;
			span {
				opacity: 0.5;
			}
		}
		svg {		
			transition: all 0.75s ease;
			position: relative;
			top: 0;
			margin: 0 auto;
			height: 100%;
			width: 100%;
		}
	}
	.social {
		width: 100%;
		position: relative;
		display: flex;
		align-items: flex-end;
		a, span {
			@extend %social;
			text-decoration: none;
			transition: all 0.5s ease;
			position: relative;
		}
		span {
			position: relative;
			transition: all 0.5s ease;
			left: -250px;
		}
		li {
			&:hover {
				a {
					color: $gray;
					background: $amber;
					padding-left: 20px;
				}
				span { 
					left: 0;
				}
			}
		}
	}
} 
main {
	ul {
		&::-webkit-scrollbar{
		display: none;	
	}
		width: 85vw;
		display: flex;
		justify-content: flex-end;
		overflow: hidden;
		list-style-type: none;
		height: 100%;
	}
	li {
		width: 100%;
		transition: all .5s linear;		
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: stretch;
		&.active {
			padding: 3%;
			flex: 14;
			flex-direction: column;
			.content {
				width: 100%;
				visibility: visible;
			}
			.title {
				height: auto;
				h2 {
					transform: rotate(0deg);
				}
			}
			.about-text {
				display: block;
			}
		}
		.title {
			display: flex;
			align-items: flex-start;
			transition: all .25s ease;		
			z-index: 1;
			h2 {
				&:hover {
				cursor: pointer; 
				}
				transition: all .25s linear;		
				transform: rotate(90deg);
				width: 60px;
				a {
					line-height: 60px;
					height: auto;
					white-space: nowrap;
					@extend %h-two;
					text-decoration: none; 
				}
			}
		}
		.content {
			align-items: center;
			visibility: hidden;
			width: 0;
			//transition: all .1s ease;
		}
	}
}
#content-container {
	overflow: hidden;
	height: 100%;
	margin-top: $padding;
}
#content-about {
	overflow-y: scroll;
	height: 100%;
	position: relative;
	&::-webkit-scrollbar{
		display: none;	
	}
	article {
		height: 100%;
		width: 100%;
	}
	.content-about-me {
		flex: 1;
		display: flex;
		position: relative;
	}
	.about-text {
		position: relative;
		display: flex;
		flex: 1;
		flex-flow: column;
		justify-content: flex-end;
		z-index: 99;
		h3 { 
			@extend %h3-about; 

		}
		p {
			@extend %p-about;
			}
		}
	}
	.about-avatar {
		overflow: hidden;
		img { 			
			width: 100%;
			transform: translateY(-50px);
		}
		flex: 1;
		height: 100%;
	.content-about-skill {
		margin-top: $padding;
	}
}

